* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    align-items: left;
    background-color: white;
}

h1 {
    font-size: 40px;
}

div {
    margin-left: 10%;
    margin-right: 20%;
}

p, ul, ol {
    font-size: 20px;
}

a {
    color: rgba(15,118,110,255);
    font-size: 25px;
}

a:hover {
    color: black;
}